.newproject_container{
    width: 450px;
    margin: 0 100px;
    padding: 3em;
    display: grid;
}

.newproject_container h1{
    margin-bottom:  0.5em;
}
.newproject_container p {
    color: #7b7b7b;
}
.container_dad{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}